#translate-btn{
    background-image: url(https://cdn.discordapp.com/attachments/885562717463785582/1030621992321286224/Vector5.svg);
    background-color: transparent;
    background-size: cover;
    border: none;
    width: 4.5rem;
    height: 4.5rem;
    
    
}
#translate-btn:hover{
    width: 5rem;
    height: 5rem;
    transition: 0.15s;
    translate: (-5px,-5px) ;
}

