#PopUpSetting{
    min-width: 400px;
    max-width: 400px;
    height: fit-content;
}

#PopUpSetting .content-container{
    padding: initial;
}

#shortcut-choice:focus{
    background-color:var(--secondary-color) ;
}

#shortcut-choice{
    width: 15rem;
}

.title{
    flex:2;
}
#return-button .icon {
    background: url(https://cdn.discordapp.com/attachments/842494279900594216/1036298435080486963/eva_arrow-back-fill.svg) no-repeat;
    float: left;
    width: 30px;
    height: 30px;
}


.choice-option{
    background-color: var(--primary-color);
    border-radius: 5px;
    width: 15rem;
}







