/* CSS styles */
#PopUpTranslate{
    font-size: 1.5rem;
    border-radius: 15%;
    position: absolute;
    right: 250px;
    bottom: 95px;
    width: fit-content;
    height: fit-content;
    z-index: 100;
}

.container-translation-ext{
    display: flex;
    flex-direction: column;
}
#languages-container{
    display: flex;
    flex-direction: row;
    background-color : #262626;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#from-languages,#to-languages{
    color: white;
    font-family: Helvetica, sans-serif ;
    font-weight: bold;
    font-size: 27px;
    flex:1;
}

#traduction-container{
    display: flex;
    display: row;
    background-color: #131313;
    min-height: 120px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
}

#from-subtitles,#translated-subtitles{
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18.9px;
    border: 1.5px solid grey;
    border-radius: 7px;
    padding: 15px;
    flex: 1;
}

#from-subtitles,#from-languages{
    margin-right: 20px;
}





	  