#PopUpTranslate{
    font-size: 1.5rem;
    border-radius: 15%;
    background-color: rgba(0, 0, 0, 0.800);
    position: absolute;
    right: 100px;
    bottom: 150px;
    width: fit-content;
    height: fit-content;
    z-index: 100;
}

.container-translation-ext{
    display: flex;
    flex-direction: column;
}
#languages-container{
    height: 100px;
    width: 300px;
    color: #262626;
    display: flex;
    flex-direction: row;
}
#from-languages, #to-languages{
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: larger;
    
}

#translate-btn .container-translation-ext{
    position: absolute;
    top: 100%;
    width: 150px;
    height: 100px;
    transition: opacity 500ms;
}

#translate-btn:hover .container-translation-ext{
    visibility: visible;
    opacity: 1;
}