/* CSS styles */
#PopUpTranslate{
    min-width: 700px;
    max-width: 700px;
}

#PopUpTranslate .content-container{
    min-height: 10rem;
}

.subtitle{
    border: 1.5px solid grey;
    border-radius: 7px;
    padding: 15px;
    flex: 1;
}

#from-subtitles,#from-languages{
    margin-right: 20px;
    flex: 1;
}


#parameter-button .icon {
    background: url(https://cdn.discordapp.com/attachments/840647610247282749/1033132957961048094/carbon_settings.svg) no-repeat;
    float: left;
    width: 30px;
    height: 30px;
}

