#translate-btn{
    background-image: url(https://cdn.discordapp.com/attachments/885562717463785582/1030621992321286224/Vector5.svg);
    background-size: cover;
    background-color: transparent;
    width: 29px;
    height: 29px;
    
}
#translate-btn:hover{
    width: 34px;
    height: 34px;
    transition: 0.30s;
    translate: (-3px,-3px) ;
    
    
}